@import 'variables.scss';

.nav-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 80vw;
    padding: 0 10vw;
    height: 64px;
    background-color: whitesmoke;
    color: $defaultDark;
    .nav-links-container {
        display: flex;
    }
}