@import 'variables.scss';

.tra-container {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    max-width: 800px;
    #landinglogo {
        // width: 70px;
        // height: 70px;
        transform: translateY(42px);
        opacity: 0.15;
        font-size: $s6;
    }
    .header {
        font-size: $s4;
        font-weight: 500;
        color: white;
        margin-bottom: $s5;
    }
    #texttotranslate {
        height: 18px;
        width: 800px;
        max-width: 90vw;
        margin-bottom: $s6;
        border: none;
        border-radius: $s0;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: $s2;
        resize: none;
        &:focus {
            outline: none;
        }
        overflow-y: hidden;
    }
    .tag {
        opacity: 0.5;
        font-weight: 400;
    }
    .language {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: $s5;
        margin-bottom: $s2;
        letter-spacing: $s0;
        // max-width: 4     00px;
        // overflow-wrap: break-word;
    }
}