// Colors

$defaultWhite: rgb(240,240,240);
$defaultWhiteTraslucid: rgba(220,220,220,0.2);
$defaultGrey: rgb(180, 180, 180);
$defaultDark: rgb(44, 44, 44);
$colorBrownLight: rgb(230, 207, 178);

// Sizes

$s0: 4px;
$s1: 8px;
$s2: 12px;
$s3: 16px;
$s4: 24px;
$s5: 32px;
$s6: 48px;
