
.App-header {
  background: url(/img/backgroundshadowed.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
